<ion-view title="Home" id="page3">
    <ion-content padding="true" class="has-header">
        <h2 id="home-heading1" style="color:#56BDAD;text-align:center;">Heading</h2>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Headline 1</h2>
                <p style="white-space:normal;">Lipsum Text is comming here in this box. this box.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Headline 2</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>