<ion-view title="Signup" id="page5">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <h2 id="signup-heading4" style="color:#4ABD9F;text-align:center;">FeedLar</h2>
            <ion-list>
                <label class="item item-input" name="full_name">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Your Name">
                </label>
                <label class="item item-input" name="username">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Your Username">
                </label>
                <label class="item item-input" name="password">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="Your Password">
                </label>
            </ion-list>
            <a href="tel:" id="signup-button5" class="button button-stable  button-block">Sign up</a>
        </form>
    </ion-content>
</ion-view>